body {
  background-image: url("https://66.media.tumblr.com/936833fa5772875bbeac0f73872e4349/tumblr_inline_n25a6iexMp1qhwjx8.gif");
  background-repeat: repeat;
}

.container{

}

.center{
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: #FBFBFB;
  text-shadow: 4px 4px #4c3b44;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
  animation: glow 0.5s ease-in-out infinite alternate;

}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #C08CD8, 0 0 70px #4c3b44;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #C08CD8, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 100px #FDE3F2;
  }
}

audio {
  display: none;
}